<!-- Uso de ejs para el head de forma dinamica -->
<%- include('template/head', {tituloWeb: 'SINGUP'}); %>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Pagina Registro de Usuarios -->

<body >
    <!-- Barra Navegante -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark  navbar-light" style="background-color: #ee730ff5;"> 
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-link" href="/login">LOGIN</a>
          </ul>    
      </nav>
    </header>

    <div class="container">
        <main>
            <div class="py-5 text-center">
                <br>
                <h1>BIENVENIDO</h1><br>
                <h5>TECLA RED SOCIAL</h5>

            </div>
    <!-- Formulario para el registro de Usuario -->
            <div class="col-md-12 col-lg-12">
                <form class="needs-validation" novalidate >
                   
                    <div class="row g-3">                      
                        
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Nombre(s)</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Ej: José" value="" required>
                            
                            <div class="invalid-feedback">
                                Por favor, introduzca su(s) nombre(s)
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="lastName" c value="" required>
                            
                            <div class="invalid-feedback">
                                Por favor, introduzca sus apellidos
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="date" class="form-label">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="date" min="1960-01-01" max="2003-12-31" required>
                            
                            <div class="invalid-feedback">
                              Por favor, introduzca su fecha de nacimiento
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="phone" class="form-label">Telefono</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                            
                            <div class="invalid-feedback">
                              Por favor, introduzca un número telefonico valido (Ej: 12 34 56 7890)
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" id="email" placeholder="usuario@email.com" required>
                            
                            <div class="invalid-feedback">
                              Por favor, introduzca un correo electronico valido
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="txtpassword" class="form-label">Contraseña<span class="text-muted">(De 8 a 15 caracteres alfanumericos)</span></label>
                            
                            <div class="input-group">
                              <input type="password" class="form-control" id="txtPassword" placeholder="**********" minlength="8" maxlength="15" required> 
                              <div class="input-group-append">
                                <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                              </div>
                              
                              <div class="invalid-feedback">
                                Por favor, introduzca una contraseña
                              </div>
                            </div>
                        </div>
                        
                        <button class="btn btn-dark" type="submit" id ="sign-in">Registrarse</button>
                   
                    </div>
                </form>
            </div>
        </main>

    </div></br>
   
    

    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="/js/formvalidation.js"></script>
    <script src="/js/signupvalidation.js"></script>
    <script src="/js/signupcalls.js"></script> 
    <script src="/js/signup.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
</body>
</html>